@using acidenteMarte.Models;

@{  //Para escrever código C# no arquivo razor use essa estrutura com @{}
    
    Layout = "_Layout";
    var listaAcidente = (List<RelatoModel>) ViewData["ListaAcidentes"];

}
    
<section class="sectionCadastro">
    <div class="divTitle">
        <h2>Conheça a <strong class="destaque"> Scania. </strong> Nos ajude a te ajudar</h2>
        <p>Conte-nos seu caso, nós iremos ajudar o mais rápido possivel</p>
    </div>

    <div class="divCadastro">
        <h3>Relate Casos de acidentes</h3>
        <form class="formCad" method="POST" action='@Url.Action("Cadastrar","Home")'>
            <input class="inputCad" type="text" required id="nome" name="nome" placeholder="Nome" />
            <input class="inputCad" type="email" required placeholder="Email" name="email" id="email">
            <input class="inputCad" type="date" required placeholder="Data" name="data" id="data">
            <input class="inputCad textBox" type="text" required placeholder="Descreva o ocorrido.." name="msg" id="msg">

            <input class="btnCad" type="submit" value="Informe-nos" />
        </form>
    </div>
</section>

<section class="sectionLista">
    <div class="headerLista">
        <h3>Veja Outros Casos</h3>
        <!-- CIRCULO VERMELHO COM AFTER E BEFORE -->
        <div>
            <span class="circle Gray"></span>
            <span class="circle"></span>
            <span class="circle Gray"></span>
        </div>
    </div>

    <article class="boxLista">

        @foreach (var item in listaAcidente)
        {
            <div class="itemLista">
                <div>
                    <h4>@item.NomeRelator</h4>
                    <p>@item.Data.ToString("dd/MM/yyyy")</p>
                </div>

                <p>@item.Mensagem</p>
                <hr />
            </div>
        }
       
    </article>
</section>        
    


